
<!-- movies.hbs -->
<h1>All Movies</h1>

<button type="button"><a href="/">Back to home page</a></button>
<h3>Click on the movie to check the showtimes.</h3>
{{#if movies}}
<div id="all-movies">
  <ul>
    {{#each movies}}
      <li>
        <h2>{{this.title}}</h2>
        <p><strong>Director:</strong> {{this.director}}</p>
        <p><strong>Stars:</strong> {{this.stars}}</p>
        <p><strong>Description:</strong> {{this.description}}</p>
        <p><strong>Showtimes:</strong> {{this.showtimes}}</p>
        <img src="{{this.image}}" alt="{{this.title}} poster">
      </li>
    {{/each}}
  </ul>
  </div>
{{else}}
  <p>No movies found.</p>
{{/if}}


{{!-- {{#each movies}}
<div>
  <h2>{{this.title}}</h2>
  <img src="{{this.image}}" alt="{{this.title}}">
  <p>{{this.description}}</p>
  <ul>
    {{#each this.showtimes}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
{{/each}} --}}









